/* 
 * Mobile: 375px
 * Desktop: 1440px 
 */

/* 
 * Font Family: [Outfit]
 * Weights: 400, 700 
 */

:root {

  /* card background color */
  --white: hsl(0, 0%, 100%);

  /* body background color */
  --light-gray: hsl(212, 45%, 89%);

  /* p text color */
  --grayish-blue: hsl(220, 15%, 55%);

  /* h1 text color */
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  border: 1px solid red;
}

body {
  border: 1px solid green;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qrCard {

}

.attribution {
  align-self: flex-end;
  margin: auto;
}