/* 
 * Mobile: 375px
 * Desktop: 1440px 
 */

/* 
 * Font Family: [Outfit]
 * Weights: 400, 700 
 */

:root {
  /* card background color */
  --white: hsl(0, 0%, 100%);
  /* body background color */
  --light-gray: hsl(212, 45%, 89%);
  /* p text color */
  --grayish-blue: hsl(220, 15%, 55%);
  /* h1 text color */
  --dark-blue: hsl(218, 44%, 22%);
}

/* General Style */

body {
  height: 100vh;
  font-family: 'Outfit', sans-serif, monospace;
  font-size: 15px;
  font-weight: 400;
  background-color: var(--light-gray);
  color: var(--grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--dark-blue);
}

p {
  line-height: 1.2rem;
}

/* QR Card Style */

.qrCard {
  /* remove this and vert center */
  margin-top: 7rem;
  border-radius: 1.6rem;
  text-align: center;
  background-color: var(--white);
  width: 82%;
  max-width: 340px
}

.qrCard img {
  width: 300px;
  border-radius: 1.2rem;
  margin-top: 18px;
}

.qrCard h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 80%;
  margin: auto;
}

.qrCard p {
  width: 78%;
  margin: auto;
  padding-bottom: 2rem;
}

.attribution {
  align-self: flex-end;
  margin: auto;
}
